@attribute [Authorize]

<AuthorizeView Roles="@Roles" Context="authorized">
    <Authorized>
        <CascadingValue Name="Authorized" Value="@this" TValue="AuthorizedComponent">
            @Content
        </CascadingValue>
    </Authorized>
    <NotAuthorized>
        <button id="loginbtn" onclick="@(() => NavManager.NavigateTo("/", true))"></button>
        <script>
            let btn = document.getElementById("loginbtn");
            btn.click();
        </script>
    </NotAuthorized>
</AuthorizeView>