@inherits LayoutComponentBase
@inject IWebHostEnvironment Environment

<MudThemeProvider IsDarkMode />
<MudSnackbarProvider />
<MudPopoverProvider />
<MudDialogProvider />

<MudLayout>
    <AppBar/>
    <NavDrawer/>
    <MudMainContent Class="pa-0 ma-0 dark-bg pt-16" Style="overflow: auto; min-height: 100vh;">
        @Body
    </MudMainContent>
</MudLayout>

@if (Environment.IsDevelopment())
{
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
}
