@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/MSO.ttf') format('ttf');
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/MSR.ttf') format('ttf');
}

.mso {
    font-family: 'Material Symbols Outlined', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.msr {
    font-family: 'Material Symbols Rounded', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

* { outline: none; }

.text-dark { color: #161621!important; }
.text-white { color: #fff!important; }
.white-all * { color: #fff!important; }

.icon-hoverable:hover {
    background-color: rgba(0, 0, 0, .1)!important;
    border-radius: 50%!important;
}

.icon-hoverable-light:hover {
    background-color: rgba(255, 255, 255, .1)!important;
    border-radius: 50%!important;
}

.gradient-title {
    background: linear-gradient(82deg, #594ae2 0%, #f69 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
}

.clickable-app:hover {
    background-color: rgba(0, 0, 0, .15)!important;
    border-radius: 4px!important;
    cursor: pointer;
}

.darkless-bg { background-color: #1E1E2D!important; }
.dark-bg { background-color: #1A1A27!important; }
.darker-bg { background-color: #161621!important; }

.purple-font { color: #7d57fa!important; }

.dark-border { border-color: #1A1A27!important; }
.footer-dark-border {
    border-top: 1px solid var(--mud-palette-table-lines);
}

.appbar-btn:hover {
    background-color: rgba(0, 0, 0, .20)!important;
    border-radius: 4px!important;
    cursor: pointer;
}

