@import url("theme.css");

.input-text * label {
    background-color: var(--background-800) !important;
}

.dialog-full * .mud-dialog-content {
    padding: 0 !important;
    margin: 0 !important;
}

.tooltip-arrow::after {
    border-color: var(--background-500) rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) !important;
}