.brand, 
.brand-0 { background-color: #FF6699!important; }
.brand-100 { background-color: #C484F1!important; }
.brand-200 { background-color: #A16EF6!important; }
.brand-300 { background-color: #7D57FA!important; }
.brand-400 { background-color: #594AE2!important; }
.brand-500 { background-color: #4F43C4!important; }
.brand-600 { background-color: #453BA6!important; }
.brand-700 { background-color: #322D69!important; }
.brand-800 { background-color: #262448!important; }
.brand-900 { background-color: #161621!important; }

.background-0 { background-color: #fff!important; }
.background-100 { background-color: #969ba6!important; }
.background-200 { background-color: #565f70!important; }
.background-300 { background-color: #414b5e!important; }
.background-400 { background-color: #2c374c!important; }
.background-500 { background-color: #272f42!important; }
.background-600 { background-color: #232738!important; }
.background-700 { background-color: #1e1e2d!important; }
.background-800 { background-color: #1a1a27!important; }
.background-900 { background-color: #161621!important; }
