@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Color="Color.Dark" Fixed>
        <MudGrid Spacing="0">
            <MudItem xs="2">
                <MudIcon Icon="@Icons.Material.Filled.SignalWifi4Bar" Style="color: #fff!important;"/>
            </MudItem>
            <MudItem xs="8">
                <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.Center">
                    <MudText Align="Align.Center">SignalR</MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="2"></MudItem>
        </MudGrid>
    </MudAppBar>
    <MudMainContent Class="ma-0 pa-0 pt-16" Style="height: 100vh;">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>